{% extends 'base.html' %}
{% block title %}Reset password{% endblock %}

    {% block contents %}
    <div class="container">
          <hr>
          <h3>パスワードをリセットしますか？</h3>
          <p>
            登録済みのメールアドレスを入力してください。
            パスワードリセットのリンクを記載したメールをすぐにお届けします。
          </p>
          <br>
          <form action="" method="post" class="text-ceneter">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="メールを受け取る"><br>
          </form>
          <a href="{% url 'post:index' %}">トップページへ</a>
    </div>
    {% endblock %}